#parrafos{
    color: white;
    text-align: center;
    border: dashed 5px white;
    border-radius: 20%;
    padding: 4%;
}

#fondo{
    background-color: transparent;
}

#contactos{
    color: white;
    text-align: center;
}

#carousel1{
    border: rgb(146, 146, 146) 5px double;
}

#insta {
    display: block;
    margin: 0 auto;
    max-width: 15%;
    width: 5%;
}

footer{
    background-size: 30px;
    padding: 0;
}

h1{
    text-align: center;
    color: aliceblue;
    margin-top: 3%;
    margin-bottom: 40px;
    font-size: 5vw;
    font-family: tatoo;
}
h2{
    padding-top: 10%;
    font-family:tatoo;
    text-align: center;
    color: white ;
    font-size: 4vw;
}
#margen{
    margin-top: 10%;
}

@font-face {
    font-family:tatoo ;
    src: url(TATTI___.TTF);
}
 #quien{

     font-family: cursive;
     font-size: large;
     border:dashed 5px white;
     color: white;
     text-align: justify;
     padding:2% ;
 }
 